@model List<WebApplication3.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürünler</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ProductID</td>
            <td>@x.ProductName</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.ProductPrice</td>
            <td>@x.ProductStock</td>
            <td><a href="/Product/DeleteProduct/@x.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/ProductGet/@x.ProductID" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }

</table>
<td><a href="/Product/ProductAdd" class="btn btn-success">Yeni Ürün Ekle</a></td>

